<%= render 'shared/errors', obj: @article %>
<!-- http://guides.rubyonrails.org/form_helpers.html  -->
<%= form_for @article do |f| %>
    <fieldset class="form-group">
        <label for="exampleInputEmail1"><%= f.label :title %> </label>
        <%= f.text_field :title, class: 'form-control' %>
    </fieldset>
    <fieldset class="form-group">
        <label for="exampleInputEmail1"><%= f.label :description %></label>
        <%= f.text_area :description, class: 'form-control' %>
    </fieldset>
    <fieldset class="form-group">
        <%= f.collection_check_boxes :category_ids, Category.all, :id, :name do |cb| %>
          <% cb.label(class: "checkbox-inline input_checkbox") { cb.check_box(class: "checkbox") + cb.text } %>
        <% end %>
    </fieldset>
    <%= f.submit class: 'btn btn-primary btn-large'%>

<% end %>

<p><%= link_to "Back to Articles listing" , articles_path  %></p>
