<h1><%= @article.title %></h1>
<div><%= @article.description %></div>
<% if @article.categories.any? %>
  <p><%= render @article.categories %>
<% end %>
<% if @article.user %>
 <hr>
  <ul class="listing">
    <duv class="row">

      <div class="well col-md-12">
        <li><%= link_to gravatar_for(@article.user, { size: 30 }), user_path(@article.user) %></li>
        <li class="article-title">
          <%= link_to @article.user.username, users_path(@article.user) %>
        </li>
        <li><small><%= pluralize(@article.user.articles.count, "article") if @article.user.articles %></small></li>
      </div>
    </duv>

  </ul>

<% end %>

<% if logged_in? && ( current_user == @article.user || current_user.admin? ) %>
    <p><%= link_to "Edit this article" , edit_article_path(@article)  %></p>
<% end %>

<p><%= link_to "Back to Articles listing" , articles_path  %></p>
