<%= render 'shared/errors', obj: @invitation %>
<!-- http://guides.rubyonrails.org/form_helpers.html  -->
<%= form_for @invitation do |i| %>
    <fieldset class="form-group">
        <label for="email"><%= i.label :email_recipient %> </label>
        <%= i.email_field :email_recipient, class: 'form-control' %>
    </fieldset>

    
    <%= i.submit class: 'btn btn-primary btn-large'%>

<% end %>
