<h1>Invitations</h1>
<div>
  <table class="table">
    <thead>
      <tr>
        <th>Email</th>
        <th>Accepted</th>
        <th>Sended at</th>
      </tr>
    </thead>
    <tbody class="table-hover">
      <% @invitations.each do |invitation| %>
        <tr>
          <td><%= invitation.email_recipient %></td>
          <td><small><%= invitation.token %></small></td>
          <td><%= invitation.accepted %></td>
          <td><%= invitation.created_at %></td>
          <td>
            <%= link_to 'Destroy', invitation, method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
